.info{
    text-align: center;
    font-size: 30px;
    font-family: "Times New Roman", Times, serif;
}
.arrow-steps clearfix{
    margin-left: 20px;
}

.form-group{
    width:70%;
    margin-left: 25.7%;
}
.container {
	font-family: 'Lato', sans-serif;
	width: 1000px;
    margin: 0 auto;

} 
.data{
    /* margin-left: 28%; */
    font-size: 100%;
    font-family: 'Times New Roman',Arial, Helvetica, sans-serif Times, serif
}
.wrapper {
   
    margin-top: 20px;
    /* display: table-cell; */
    /* height: 400px; */
    vertical-align: middle;
    margin-left: 5%;
    
}
#inputEmail{
    width: 100%;
    margin-left: 0px;
}
.control{
    margin-left: 5px;
}
#input{
    width: 80%;
    margin-left: 14px;
}
.arrow-steps .step {
	font-size: 12px;
	text-align: center;
	color: #666;
	cursor: default;
	margin: 0 3px;
	padding: 10px 10px 10px 30px;
	min-width: 180px;
	float: left;
	position: relative;
	background-color: 	#f5f5f5;;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none; 
  transition: background-color 0.2s ease;
}

.arrow-steps .step:after,
.arrow-steps .step:before {
	content: " ";
	position: absolute;
	top: 0;
	right: -17px;
	width: 0;
	height: 0;
	border-top: 19px solid transparent;
	border-bottom: 17px solid transparent;
	border-left: 17px solid #f5f5f5;;	
	z-index: 2;
  transition: border-color 0.2s ease;
}

.arrow-steps .step:before {
	right: auto;
	left: 0;
	border-left: 17px solid #fff;	
	z-index: 0;
}

.arrow-steps .step:first-child:before {
	border: none;
}

.arrow-steps .step:first-child {
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

.arrow-steps .step span {
	position: relative;
}

.arrow-steps .step span:before {
	opacity: 0;
	content: "✔";
	position: absolute;
	top: -2px;
	left: -20px;
}

.arrow-steps .step.done span:before {
	opacity: 1;
	-webkit-transition: opacity 0.3s ease 0.5s;
	-moz-transition: opacity 0.3s ease 0.5s;
	-ms-transition: opacity 0.3s ease 0.5s;
	transition: opacity 0.3s ease 0.5s;
}

.arrow-steps .step.current {
	color: #fff;
	background-color: black;
}

.arrow-steps .step.current:after {
	border-left: 17px solid black;	
}



.arrow-step .steps {
	font-size: 12px;
	text-align: center;
	color: #666;
	cursor: default;
	margin: 0 3px;
	padding: 10px 10px 10px 30px;
	min-width: 180px;
	float: left;
	position: relative;
	background-color: #f5f5f5;;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none; 
  transition: background-color 0.2s ease;
}

.arrow-step .steps:after,
.arrow-step .steps:before {
	content: " ";
	position: absolute;
	top: 0;
	right: -17px;
	width: 0;
	height: 0;
	border-top: 19px solid transparent;
	border-bottom: 17px solid transparent;
	border-left: 17px solid #f5f5f5;;	
	z-index: 2;
  transition: border-color 0.2s ease;
}

.arrow-step .steps:after {
	right: auto;
	left: 0;
	border-left: 17px solid #fff;	
	z-index: 0;
}

.arrow-step .steps:first-child:before {
	border: none;
}

.arrow-step .steps:first-child {
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

.arrow-step .steps span {
	position: relative;
}

.arrow-step .steps span:before {
	opacity: 0;
	content: "✔";
	position: absolute;
	top: -2px;
	left: -20px;
}

.arrow-step .steps.done span:before {
	opacity: 1;
	-webkit-transition: opacity 0.3s ease 0.5s;
	-moz-transition: opacity 0.3s ease 0.5s;
	-ms-transition: opacity 0.3s ease 0.5s;
	transition: opacity 0.3s ease 0.5s;
}

.arrow-step .steps.current {
	color: #fff;
	background-color: black;
}

.arrow-step .steps.current:after {
    border-left: 17px solid black;	
}
html{
    margin-left: 30px;
}

	
	.btn{
width:50%;
	}
	select{
		width:100%;
		height:30px;
		
	}
	.text{
		text-align: center;
		font-size: 30px;
		font-family: "Times New Roman", Times, serif;
	}
	.form-control{
		width:100%;
	}
	.form-group{
		width:70%;
		margin-left: 25.7%;
	}
	button{
		width:100%;
		
	}
	.html{
		width:50%;
	}

